@import "../Vars.scss";

.categories__title {
    display: flex;
    justify-content: center;
    background: $main-color;
    color:black;
    font-size: 16px;
    margin-top: -16px;
    position: absolute;
    // padding-left: 30px;
    width: 100%;
  }